<h1>Create New Post</h1>
<%= form_for @post do |f| %>
  <p><%= f.text_field :title %></p>
  <p><%= f.text_area :post %></p>
  <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) do |cb| %>
      <% cb.label {cb.check_box + cb.text} %>
  <% end %>
  <p><%= f.submit %></p>
<% end %>

<p><%= link_to 'Back to index', :controller => 'posts', :action => 'index' %></p>