<h1>
  <%= @post.title %>
  <p>
    <%= @post.post %>
  </p>
</h1>
<% if @post.categories.any? %>
   <p>Categories: <%= render @post.categories %></p>
<% end %>

<%= link_to "Edit", edit_post_path(@post) %>
<%= link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure you want to do this?"} %>

<h2>
	<p>Comments</p>
</h2>

<%= render @post.comments %>
<hr>

<h3>Reply to topic</h3>
<%= render "comments/form" %>

<p><%= link_to 'Back to index', :controller => 'posts', :action => 'index' %></p>
